@font-face {
    font-family: "Brush Script MT";
}

.border-pane {
    -fx-background-image: url("/AddOn/background2.jpeg");
    -fx-background-size: 100% 100%;
    -fx-background-repeat: no-repeat
    -fx-font-family: "Brush Script MT";
}

#PIP{
    -fx-padding: 10px;
}

#Design{
    -fx-font-size: 35px;
}

.label {
   -fx-background-color: black;
   -fx-padding: 5px 10px;
   -fx-text-fill: white;
}

.button{
    -fx-min-width: 100px;
    -fx-min-height: 35px;
    -fx-background-color: black;
    -fx-text-fill: white;
}

.textF{
    -fx-border-color: transparent;
    -fx-min-width: 100px;
    -fx-min-height: 35px;
}

.title{
    -fx-background-color: transparent;
    -fx-alignment: center;
    -fx-text-fill: white;
}

#start{
    -fx-alignment: center;
    -fx-min-width: 150px;
    -fx-min-height: 50px;
}


